*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input,button,select,textarea{
  font-family: 'Poppins', sans-serif;
}

body {
  background: #E5E5E5;
}

body::before {
  content: '';
  width: 100%;
  height: 368px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #121214;
}

.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;

  margin-top: 74px;
}

header h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px; 
  color: white;

  margin-bottom: 24px;
}

header p{
  font-size: 16px;
  line-height: 26px;

  color: #42D3FF;
}

form {
  margin-top: 38px;
  background: #FAFAFC;
  border-radius: 8px 8px 0 0;
  min-height: 300px;

  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
 
  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label
.checkbox-wrapper label {
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;

  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;

  color: #8f8d95;
}

.input-wrapper label span:hover {
  color: #a9a7af;

}

.input-wrapper input, 
.input-wrapper textarea,
.input-wrapper select {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 56px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px; 

  color: #6c6a71;
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}

.input-wrapper select {
  appearance: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 -ms-expand: none;
  

 background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
 background-repeat: no-repeat;
 background-position: right 24px  center;
 padding-right: 40px; /* Espaço para a seta */
}

.col-3 {
  display: flex;
  gap: 20px;
}

.col-3 > div:nth-child(1) {
  width: 100%;
}

.checkbox-wrapper{
  position: relative;
}

.checkbox-wrapper label{
  display: flex;
  align-items: center;
  gap: 16px;

  margin: 0;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  opacity: 0;

}

.checkbox-wrapper label::before {
  content:'';
  width: 24px;
  height: 24px;
  display: block;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}
   
.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2902_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2902_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

footer {
  background: #f0f0f4;

  height: 136px;

  display: flex;
  flex-direction: column;

  padding: 40px 64px;

  margin-bottom: 100px;

  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 8px 8px;
}

footer .button {
  height: 56px;
  background: #04d361;
  border: 0;
  border-radius: 8px;

  font-family: Archivo;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px; /* 162.5% */
  
  color: #FFF;
}

footer .button:hover {
  background: #08a04c;
}

input:invalid {
  border: 2px solid red;
}